In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.mode.chained_assignment = None  # default='warn'
from datetime import datetime
now = datetime.now()
print(now)

2023-02-03 13:28:50.124422

#### Nguyên phụ liệu

In [2]:
dfProductUnit = pd.read_csv('../dataDA/ProductUnit.csv')
dfProductUnit

       product_id  product_unit_id  unit_id name_unit  is_default
0              21               21        1       Mét           1
1              22               22        1       Mét           1
2              26               26        1       Mét           1
3              28               28        1       Mét           1
4              31               31        1       Mét           1
...           ...              ...      ...       ...         ...
16842        7909             7919       20       Pia           1
16843        7914             7924       21       Cây           1
16844        7916             7926       21       Cây           1
16845        7917             7927       21       Cây           1
16846        7915            17062       21       Cây           1

[16847 rows x 5 columns]

In [3]:
dfProductUnitDefault = dfProductUnit[dfProductUnit['is_default'] == 1]
dfProductUnitDefault

       product_id  product_unit_id  unit_id name_unit  is_default
0              21               21        1       Mét           1
1              22               22        1       Mét           1
2              26               26        1       Mét           1
3              28               28        1       Mét           1
4              31               31        1       Mét           1
...           ...              ...      ...       ...         ...
16842        7909             7919       20       Pia           1
16843        7914             7924       21       Cây           1
16844        7916             7926       21       Cây           1
16845        7917             7927       21       Cây           1
16846        7915            17062       21       Cây           1

[11334 rows x 5 columns]

In [4]:
dfOrder = pd.read_csv('../dataDA/Product.csv')
dfOrder

,name,product_id,is_outsourcing,product_code,quantity_product
0,Lưới màn 80G Black,1,0,1-LUOIMA-BLK-80-CM,6301.91
1,Lưới màn 80G White,2,0,1-LUOIMA-WHI-80-CM,13742.73
2,Lưới màn 80G Light White,3,0,1-LUOIMA-LWH-80-CM,4437.70
3,Lưới màn mỏng 28G Black,4,0,1-LUOIMA-BLK-28-CM,3270.90
4,Lưới màn mỏng 28G White,5,0,1-LUOIMA-WHI-28-CM,2324.08
...,...,...,...,...,...
11155,Vải nylon Black ép mút 5mm,11468,1,1-NY0000-BLK-M5-PE,0.00
11156,Vải nylon Black ép mút 2mm,11469,1,1-NY0000-BLK-M2-PE,0.00
11157,Dây khóa da Black W160mm x H18mm HM-221126-190...,11470,0,6-KDHM06-BLK-DA-TQ,126.00
11158,Khuôn Dây khóa da Black W160mm x H18mm HM-2211...,11471,0,9-KDHM06-BLK-DA-TQ,1.00
11159,Dây thun 32mm White,11472,0,5-DATHUN-WHI-32-AN,0.00

In [5]:
dfProduct = pd.read_csv('../dataDA/Product.csv')
dfProductUnit = dfProduct.merge(dfProductUnitDefault , on = 'product_id' , how = 'left').drop(columns= {'product_unit_id' , 'unit_id' , 'is_default'})
dfProductUnit

,name,product_id,is_outsourcing,product_code,quantity_product,name_unit
0,Lưới màn 80G Black,1,0,1-LUOIMA-BLK-80-CM,6301.91,Mét
1,Lưới màn 80G White,2,0,1-LUOIMA-WHI-80-CM,13742.73,Mét
2,Lưới màn 80G Light White,3,0,1-LUOIMA-LWH-80-CM,4437.70,Mét
3,Lưới màn mỏng 28G Black,4,0,1-LUOIMA-BLK-28-CM,3270.90,Mét
4,Lưới màn mỏng 28G White,5,0,1-LUOIMA-WHI-28-CM,2324.08,Mét
...,...,...,...,...,...,...
11155,Vải nylon Black ép mút 5mm,11468,1,1-NY0000-BLK-M5-PE,0.00,Mét
11156,Vải nylon Black ép mút 2mm,11469,1,1-NY0000-BLK-M2-PE,0.00,Mét
11157,Dây khóa da Black W160mm x H18mm HM-221126-190...,11470,0,6-KDHM06-BLK-DA-TQ,126.00,Cái
11158,Khuôn Dây khóa da Black W160mm x H18mm HM-2211...,11471,0,9-KDHM06-BLK-DA-TQ,1.00,Cái
11159,Dây thun 32mm White,11472,0,5-DATHUN-WHI-32-AN,0.00,Mét

In [6]:
dfRelationship = pd.read_csv('../dataDA/Relationship.csv')
dfRelationship

,product_id,outsourcing_product_id,product_code,quota_outsourcing
0,73,75,1-CVAC04-SCA-00-IW,1.0
1,73,78,1-CVAC04-SCA-00-IW,1.0
2,73,79,1-CVAC04-SCA-00-IW,1.0
3,80,81,1-CVAC05-DBN-00-IW,1.0
4,96,101,1-CVAC07-GRY-00-HV,1.0
...,...,...,...,...
4826,11355,11412,1-P2585Q-CTG-00-EV,1.0
4827,8311,11412,1-GOLDAI-WHI-00-EP,1.0
4828,5,11412,1-LUOIMA-WHI-28-CM,1.0
4829,777,11468,1-NY0000-BLK-00-PE,1.0
4830,777,11469,1-NY0000-BLK-00-PE,1.0

In [ ]:
dfProductUnit.to_excel('../dataDA/ProductUnit{}.xlsx'.format(now), index= False)

:

#### Production order + Stock Out

In [ ]:
dfProductionOrder = pd.read_csv('../dataDA/ProductionOrderDetailBao.csv')
dfProductionOrder

:

In [ ]:
dfOrder = pd.read_csv('../dataDA/OrderBao.csv')

:

In [ ]:
dfProductionOrder = dfProductionOrder.groupby(['product_code', 'order_id' ,'production_order_id' , 'production_code',
                                    'quantity_production_order' ,
                                    'time_create' , 'completed_at' , 'time_stock_out'], as_index=False)['quantity_exported_production_order'].sum()

dfProductionOrder = dfProductionOrder.groupby(['product_code', 'order_id' ,'production_order_id' , 'production_code',
                                    'time_create' , 'completed_at' , 'time_stock_out' , 'quantity_exported_production_order'], as_index=False)['quantity_production_order'].sum()

dfProductionOrder

:

In [ ]:
dfOrder = dfOrder.groupby(['product_id', 'order_code' ,'order_id' ,
                                    'product_code'], as_index=False)['total_quota'].sum()

:

In [ ]:
dfProductionOrder = dfProductionOrder.replace(np.NaN , 0)
dfProductionOrderMerge = pd.merge(dfOrder, dfProductionOrder , on = ['product_code' , 'order_id'], how = 'left')
dfProductionOrderMerge = dfProductionOrderMerge.replace(np.NaN , 0)

:

In [ ]:
dfProductionOrderMerge[(dfProductionOrderMerge['order_code'] == 'AD-220623-YELIR 2')].head(2)

:

In [ ]:
# dfProductionOrderMerge[dfProductionOrderMerge['order_code'] == 'Charter Hat-Med-Cream-Sand']

:

In [ ]:
dfProductionOrderMerge = dfProductionOrderMerge.drop(columns= {'product_id' , 'order_id' ,'production_order_id'})
dfProductionOrderMerge.rename(columns = {'order_code':'Mã đơn hàng' , 'product_code': 'Mã NPL' , 'total_quota': 'Định mức đơn hàng' , 'production_code': 'Mã LSX' , 'quantity_production_order' : 'SL LSX' , 
                                         'quantity_exported_production_order' : 'Tổng đã xuất' , 'time_create': 'Ngày tạo LSX',
                                         'completed_at': 'Ngày hẹn LSX', 'time_stock_out': 'ngày xuất kho'}, inplace = True)
dfProductionOrderMerge

:

In [ ]:
dfProductionOrderMerge[dfProductionOrderMerge['Mã NPL'] == '9-CCI166-000-00-TA']

:

In [ ]:
dfProductionOrderMerge.to_excel('../data_complete/getProductionOrder.xlsx', index= False)

:

#### Outsourcing Stock In

In [ ]:
dfProduct = pd.read_csv("../dataDA/Product.csv")

:

In [ ]:
dfPrimary = dfProduct.loc[dfProduct['is_outsourcing'] == 0]
dfSecondary = dfProduct.loc[dfProduct['is_outsourcing'] == 1]

:

In [ ]:
dfPrimary

:

In [ ]:
dfProduct

:

In [ ]:
dfOutsourcingStockIn = pd.read_csv('../dataDA/OutsourcingStockInBao.csv')
dfOutSourcingDetail = pd.read_csv('../dataDA/OutSourcingDetailBao.csv')

:

In [ ]:
dfOutSourcingDetail[dfOutSourcingDetail['outsourcing_order_id'] == 138].shape

:

In [ ]:
dfOutsourcingStockIn[dfOutsourcingStockIn['outsourcing_order_id'] == 138].shape

:

In [ ]:
dfOutSourcingDetail.sort_values(by = ['outsourcing_order_id'])

:

In [ ]:
dfOutsourcingStockIn

:

In [ ]:
dfOutsourcingStockIn[dfOutsourcingStockIn['outsourcing_order_id'] == 295]

:

In [ ]:
dfOutSourcingDetail

:

In [ ]:
dfOutSourcingDetailMerge = dfOutSourcingDetail.merge(dfOutsourcingStockIn , on = ['outsourcing_order_id' , 
                                                            'product_id' , 'outsourcing_quantity'], how = 'right').replace(np.NaN , 0)
dfOutSourcingDetailMerge

:

In [ ]:
dfProduct[dfProduct['product_id'] == 8617]

:

In [ ]:
dfOutSourcingDetailMerge = dfOutSourcingDetailMerge.merge(dfProduct[['product_id' , 'product_code']] , on = 'product_id'  , how = 'left')
# dfOutSourcingDetailMerge

:

In [ ]:
# dfOutSourcingDetailMerge[dfOutSourcingDetailMerge['outsourcing_order_id'] == 138]

:

In [ ]:
dfOutSourcingDetailMerge = dfOutSourcingDetailMerge.drop(columns= {'product_id' , 'outsourcing_order_id'})
dfOutSourcingDetailMerge.rename(columns = {'code':'Mã đơn hàng' , 'name': 'Tên đơn hàng', 'product_code': 'Mã NPL' , 'is_complete_order': 'Hoàn tất đơn hàng' ,
                                         'is_complete_order_detail': 'Hoàn tất chi tiết đơn hàng' , 'outsourcing_quantity': 'Số lượng GCN' , 'quantity_stock_in' : 'Số lượng GCN nhập kho' , 
                                        'created_at_': 'Ngày tạo ĐH', 'delivery_at_': 'Ngày hẹn ĐH', 'delivery_real_': 'Ngày xuất kho GCN'}, inplace = True)
dfOutSourcingDetailMerge

:

In [ ]:
dfOutSourcingDetailMerge.to_excel('../data_complete/getOutSourcingStockIn.xlsx', index= False)

:

In [ ]:
dfOutSourcingDetailMerge[dfOutSourcingDetailMerge['Hoàn tất chi tiết đơn hàng'].isnull()]

:

:

:

#### Outsourcing Stock Out

In [ ]:
dfOutSourcingMaterial = pd.read_csv('../dataDA/OutSourcingMaterialBao.csv')
dfOutSourcingMaterial = dfOutSourcingMaterial.replace(np.NaN , 0)
dfOutSourcingMaterial

:

In [ ]:
dfProductNew  = dfProduct.rename(columns={"product_id": "outsourcing_product_id" , "product_code" : "outsourcing_product_code"})
dfOutSourcingMaterialMerge = dfOutSourcingMaterial.merge(dfProduct[['product_id' , 
                    'product_code']] , on = 'product_id' , how = 'left').merge(dfProductNew[['outsourcing_product_id' , 
                    'outsourcing_product_code']] , on = 'outsourcing_product_id' , how = 'left')
dfOutSourcingMaterialMerge

:

In [ ]:
dfOutSourcingStockOut = pd.read_csv('../dataDA/OutSourcingStockOutBao.csv')
dfOutSourcingStockOut = dfOutSourcingStockOut.replace(np.NaN , 0)
dfOutSourcingStockOut

:

In [ ]:
dfOutSourcingStockOut = dfOutSourcingStockOut.groupby(['product_id' , 'outsourcing_order_id' , 'is_exported',
                                                       'outsourcing_detail_id', 'date_of_inventory' ], as_index=False)['quantity_exported_outsourcing'].sum()
dfOutSourcingStockOut.sort_values(by = ['product_id'])
dfOutSourcingStockOut

:

In [ ]:
dfOutSourcingMaterialMergeNew = dfOutSourcingMaterialMerge.merge(dfOutSourcingStockOut, on = ['product_id', 'outsourcing_detail_id' , 'outsourcing_order_id'
                                                        , 'is_exported'] , how = 'left')

dfOutSourcingMaterialMergeNew

:

In [ ]:
dfOutSourcingMaterialMergeNew[dfOutSourcingMaterialMergeNew['outsourcing_order_id'] == 1375]

:

In [ ]:
dfOutSourcingOrder = pd.read_csv('../dataDA/OutSourcingOrderBao.csv')
dfOutSourcingOrder

:

In [ ]:
dfOutSourcingMaterialMerge = dfOutSourcingMaterialMergeNew.merge(dfOutSourcingOrder, on = ['outsourcing_order_id'] , how = 'left')
dfOutSourcingMaterialMerge.head(2)

:

In [ ]:
dfRelationShip = pd.read_csv('../dataDA/Relationship.csv')
dfRelationShipOrder = dfRelationShip.rename(columns= {'product_code' : 'product_code_po'})
dfRelationShipOrder

:

In [ ]:
dfOutSourcingMaterialRel = dfOutSourcingMaterialMerge.merge(dfRelationShipOrder , on = ['outsourcing_product_id' , 'product_id'] , how = 'left')
dfOutSourcingMaterialRel.head(2)

:

In [ ]:
dfOutSourcingMaterialRel = dfOutSourcingMaterialRel.drop(columns= {'product_id' , 'outsourcing_order_id' , 'outsourcing_product_id' , 'outsourcing_order_id' , 'outsourcing_detail_id'})

new_col1 = ['code','name' , 'product_code' ,'outsourcing_product_code', 'total_quota', 
      'quantity_outsourcing_detail', 'is_complete_detail', 'is_exported',
      'is_complete_infos', 'quota_percent' , 'quota_outsourcing' , 'date_of_inventory',
      'quantity_exported_outsourcing' , 'product_code_po']
   
dfOutSourcingMaterialStockOut= dfOutSourcingMaterialRel.reindex(columns=new_col1)
   
dfOutSourcingMaterialStockOut.rename(columns = {'code':'Mã ĐH GCN' , 'name': 'Tên ĐH GCN', 'product_code': 'Mã WIP' , 'outsourcing_product_code': 'Mã Thành phẩm',
                                             'total_quota': 'SL WIP cần GCN', 'quantity_outsourcing_detail': 'SL thành phẩm cần', 'is_complete_detail': 'Nhập kho Thành phẩm',
                                        'is_exported': 'Đã Xuất WIP' , 'is_complete_infos': 'ĐH hoàn tất' , 'quota_percent': 'Định mức GCN' , 'date_of_inventory': 'Ngày xuất kho',
                                        'quantity_exported_outsourcing':'Số lượng WIP đi GCN thực tế' , 'quota_outsourcing' : 'Định mức theo thu mua' , 'product_code_po' : 'Mã NPL bán TP theo thu mua'}, inplace = True)
dfOutSourcingMaterialStockOut

:

In [ ]:
dfOutSourcingMaterialStockOut.to_excel('../data_complete/getOutSourcingStockOut.xlsx', index= False)

:

#### PYC nhap kho

:

:

: