In [127]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.mode.chained_assignment = None  # default='warn'
from datetime import datetime
now = datetime.now()
print(now)

2023-02-04 08:39:32.153840

In [128]:
dfProductUnit = pd.read_csv('../data_csv/ProductUnit.csv')
dfProductUnit.reset_index(drop = True)

       product_id  product_unit_id  unit_id  is_default
0              21               21        1           1
1              21            12018        5           0
2              22               22        1           1
3              22            12019        5           0
4              26               26        1           1
...           ...              ...      ...         ...
17072       11706            25935        4           1
17073       11707            25936        4           1
17074       11708            25937        4           1
17075       11709            25938        4           1
17076       11710            25939        1           1

[17077 rows x 4 columns]

In [129]:
dfProductUnitExchange = pd.read_csv('../data_csv/ProductUnitExchange.csv')
# dfProductUnitExchange = dfProductUnitExchange.drop_duplicates(subset=['product_id' , 'source_unit_id' , 'result_unit_id'], keep='first').reset_index(drop= True)
dfProductUnitExchange

,product_id,source_unit_id,result_unit_id,source_quantity,result_quantity
0,6773,4,14,110.0000,1.0
1,6758,4,14,110.0000,1.0
2,6773,4,14,115.0000,1.0
3,2348,1,5,0.9144,1.0
4,194,1,5,0.9144,1.0
...,...,...,...,...,...
5496,11679,1,5,0.9140,1.0
5497,11667,1,5,0.9140,1.0
5498,11670,1,5,0.9140,1.0
5499,11680,1,5,0.9140,1.0
5500,11682,1,5,0.9140,1.0

In [130]:
dfProductUnitExchange = dfProductUnitExchange.drop_duplicates(subset=['product_id' , 'source_unit_id' , 'result_unit_id'], keep='first').reset_index(drop= True)

In [131]:
dfPurchaseOrderDetail = pd.read_csv("../data_csv/PurchaseOrderDetail.csv") # Purchase Order
dfStockInPurchaseOrder = pd.read_csv("../data_csv/StockInPurchaseOrder.csv") # Purchase Order
dfPurchaseOrder = pd.read_csv('../data_csv/PurchaseOrder.csv')
dfUsers = pd.read_csv('../data_csv/Users.csv')
dfSupplierDeliveryInfo = pd.read_csv('../data_csv/SupplierDeliveryInfo.csv')
dfSupplierDeliveryInfo

     supplier_id  supplier_delivery_id supplier_code      supplier_name
0              1                     1            HG        Hans Global
1              2                     2            EV  Everest Shang Hai
2              3                     3            EW    Everest Tai Wan
3              4                     4            MC          Men Chuen
4              5                     5            FT         Flying Tex
..           ...                   ...           ...                ...
235          235                   242            DU               Duel
236          236                   243            PT             PERTEX
237          237                   244            HB      Shishi HaoBao
238          239                   246            YM               YIMA
239          240                   247            95              9.5cm

[240 rows x 4 columns]

In [132]:
dfPurchaseOrder = dfPurchaseOrder.merge(dfUsers, on = 'creator_id', how = 'left').replace(np.NaN , 0)
dfPurchaseOrder = dfPurchaseOrder.merge(dfSupplierDeliveryInfo, on = 'supplier_delivery_id', how = 'left').replace(np.NaN , 0)
dfPurchaseOrder

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm
1,TTD-02052022-001-MX,344,TTD-02052022-001-MX,1000.0,2,1,completed,2022-05-04,0,74,Nguyễn Thị Anh,74,MX,Maxim
2,TTD-02052022-004-HV,343,TTD-02052022-004-HV,2500.0,3,1,completed,2022-05-05,0,111,Nguyễn TT Duyên,111,HV,Hàn Việt
3,TTD-05052022-005-HN,343,TTD-05052022-005-HN,100.0,4,1,completed,2022-05-05,0,72,Nguyễn TT Duyên,72,HN,Hải Nam
4,TTD-03052022-006-DI,343,TTD-03052022-006-DI,2000.0,5,1,completed,2022-05-05,0,65,Nguyễn TT Duyên,65,DI,Dong IL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,TTD-03022023-039-CE,344,TTD-03022023-039-CE,13500.0,1614,0,approval,2023-02-03,2023-02-25,52,Nguyễn Thị Anh,52,CE,Cheng Mei
1574,TTD-03022023-040-CY,343,TTD-03022023-040-CY,5500.0,1615,0,review,2023-02-03,2023-02-24,62,Nguyễn TT Duyên,62,CY,Chenyes
1575,TTD-03022023-041-AK,343,TTD-03022023-041-AK,32.0,1616,0,review,2023-02-03,2023-02-10,61,Nguyễn TT Duyên,61,AK,A Khiêm
1576,TTD-04022023-042-MX,344,TTD-04022023-042-MX,10000.0,1617,0,approval,2023-02-04,2023-02-25,74,Nguyễn Thị Anh,74,MX,Maxim
1577,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL

In [133]:
df = dfPurchaseOrderDetail[dfPurchaseOrderDetail[['product_id' ,'purchase_order_id']].duplicated() == True]
df = dfStockInPurchaseOrder[~dfStockInPurchaseOrder['purchase_order_id'].isin(dfPurchaseOrderDetail['purchase_order_id'].to_list())].reset_index(drop = True)

### Cập nhập lại đơn hàng hoàn tất

In [134]:
dfPurchaseOrderDetail.at[426, 'is_complete'] = 1
dfPurchaseOrderDetail.at[426, 'is_complete'] = 1
dfPurchaseOrderDetail.at[1785, 'is_complete'] = 1
dfPurchaseOrderDetail.at[1787, 'is_complete'] = 1
dfPurchaseOrderDetail.at[19, 'is_complete'] = 1

In [135]:
dfPurchaseOrderTotal = dfPurchaseOrder.merge(dfPurchaseOrderDetail, on = 'purchase_order_id', how = 'left').replace(np.NaN , 0)
dfPurchaseOrderTotal[dfPurchaseOrderTotal['product_id'] == 1703]

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete
2171,TTD-21072022-113-HF,343,TTD-21072022-113-HF,9600.0,575,0,approval,2022-07-21,2022-12-20,45,Nguyễn TT Duyên,45,HF,Hung'S Fortune,1703,1-RPHW1R-INF-00-HF,13558,200.0,1
4577,TTD-28102022-120-HF,343,TTD-28102022-120-HF,8600.0,1180,0,approval,2022-10-28,2022-11-30,45,Nguyễn TT Duyên,45,HF,Hung'S Fortune,1703,1-RPHW1R-INF-00-HF,13558,50.0,0

In [136]:
dfPurchaseOrderTotal = dfPurchaseOrder.merge(dfPurchaseOrderDetail, on = 'purchase_order_id', how = 'left').replace(np.NaN , 0)
# dfPurchaseOrderTotalNotComplete = dfPurchaseOrderTotal[(dfPurchaseOrderTotal['is_completed'] != 1) & (dfPurchaseOrderTotal['is_complete'] != 1)
#                                                        & (dfPurchaseOrderTotal['po_status'] == 'approval')]
dfPurchaseOrderDetail = dfPurchaseOrderTotal.merge(dfProductUnit, on = ['product_id' , 'product_unit_id'], how = 'left')
dfPurchaseOrderDetail['quantity_exchange'] = 0
# dfPurchaseOrderDetail[dfPurchaseOrderDetail['product_id'] == 6823]

In [137]:
dfProductUnitExchange[dfProductUnitExchange['product_id'] == 6823]

,product_id,source_unit_id,result_unit_id,source_quantity,result_quantity
3726,6823,1,5,0.9144,1.0

In [138]:
dfPurchaseOrderDetail1 = dfPurchaseOrderDetail.merge(dfProductUnitExchange , left_on = ['product_id','unit_id'] , right_on = ['product_id','result_unit_id'] , how = 'left')
dfPurchaseOrderDetail1['quantity_exchange_not_default'] = dfPurchaseOrderDetail1['purchase_order_quantity'] * dfPurchaseOrderDetail1['source_quantity'] / dfPurchaseOrderDetail1['result_quantity']
dfPurchaseOrderDetail1

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,0,NaN,NaN,NaN,NaN,NaN
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,0,1.0,5.0,0.9144,1.0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6166,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,4382,8-BF0092-000-00-TL,4382,1000.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
6167,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5198,8-MD0016-000-ST-TL,5198,4500.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
6168,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5199,8-MD0017-000-ST-TL,5199,5500.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
6169,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11702,8-JP0128-000-ST-TL,25931,1000.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
6170,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11703,8-JP0129-000-ST-TL,25932,1000.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN

In [139]:
aMate = dfPurchaseOrderDetail1.loc[0].index
for i in range(0 , len(aMate)):
    if(aMate[i] == 'quantity_exchange'):
        a = i
    else: i = i + 1

for i in range(0 , dfPurchaseOrderDetail1.shape[0]):
    aMate = dfPurchaseOrderDetail1.loc[i]
    if(aMate['is_default'] == 1.0):
        dfPurchaseOrderDetail1.iloc[[aMate.name], [a]] = aMate['purchase_order_quantity']
    elif(aMate['is_default'] == 0.0):
        dfPurchaseOrderDetail1.iloc[[aMate.name], [a]] = aMate['quantity_exchange_not_default']

dfPurchaseOrderDetail1[(dfPurchaseOrderDetail1['is_default'] != 0) & (dfPurchaseOrderDetail1['is_default'] != 1)]
dfPurchaseOrderDetail1

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,NaN,NaN,NaN,NaN,NaN
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,NaN,NaN,NaN,NaN,NaN
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,NaN,NaN,NaN,NaN,NaN
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6166,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,4382,8-BF0092-000-00-TL,4382,1000.0,0,4,1,1000.00,NaN,NaN,NaN,NaN,NaN
6167,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5198,8-MD0016-000-ST-TL,5198,4500.0,0,4,1,4500.00,NaN,NaN,NaN,NaN,NaN
6168,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5199,8-MD0017-000-ST-TL,5199,5500.0,0,4,1,5500.00,NaN,NaN,NaN,NaN,NaN
6169,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11702,8-JP0128-000-ST-TL,25931,1000.0,0,4,1,1000.00,NaN,NaN,NaN,NaN,NaN
6170,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11703,8-JP0129-000-ST-TL,25932,1000.0,0,4,1,1000.00,NaN,NaN,NaN,NaN,NaN

In [140]:
dfStockInPurchaseOrder

      product_id  purchase_order_id  quantity_arrived actual_delivery_time
0           5545                  2             500.0           2022-05-24
1            815                  3             943.6           2022-06-23
2            811                  3            1079.9           2022-06-23
3            815                  3             639.1           2022-06-01
4           6773                  4            5000.0           2022-05-24
...          ...                ...               ...                  ...
5983        2880               1590              12.0           2023-02-03
5984        2776               1590              12.0           2023-02-03
5985        2743               1590              12.0           2023-02-03
5986        7824               1590             182.9           2023-02-03
5987       11658               1590              12.0           2023-02-03

[5988 rows x 4 columns]

In [142]:
dfPurchaseOrderDetailmerge = dfPurchaseOrderDetail1.merge(dfStockInPurchaseOrder, on = ['purchase_order_id' , 'product_id'], how = 'left').replace(np.NaN , 0)
dfPurchaseOrderDetailmerge['quantity_not_arrived'] = dfPurchaseOrderDetailmerge['quantity_exchange'] - dfPurchaseOrderDetailmerge['quantity_arrived']
dfPurchaseOrderDetailmerge

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default,quantity_arrived,actual_delivery_time,quantity_not_arrived
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,20.00
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1.00
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,10.00
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44,0.0,0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,70.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6589,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,4382,8-BF0092-000-00-TL,4382,1000.0,0,4,1,1000.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1000.00
6590,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5198,8-MD0016-000-ST-TL,5198,4500.0,0,4,1,4500.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,4500.00
6591,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5199,8-MD0017-000-ST-TL,5199,5500.0,0,4,1,5500.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,5500.00
6592,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11702,8-JP0128-000-ST-TL,25931,1000.0,0,4,1,1000.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1000.00
6593,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11703,8-JP0129-000-ST-TL,25932,1000.0,0,4,1,1000.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1000.00

In [156]:
dfPurchaseOrderDetailmerge.head(5)

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default,quantity_arrived,actual_delivery_time,quantity_not_arrived
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,20.00
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1.00
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,10.00
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44,0.0,0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,70.00

In [159]:
dfPurchaseOrderDetailmerge['raw_material_status'] = ''
aMate = dfPurchaseOrderDetailmerge.loc[0].index
for i in range(0 , len(aMate)):
    if(aMate[i] == 'raw_material_status'):
        a = i
    else: i = i + 1

for i in range(0 , len(dfPurchaseOrderDetailmerge)):
    aMate = dfPurchaseOrderDetailmerge.loc[i]
    if(aMate['is_completed'] == 1):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Hoàn tất'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 0) & (aMate['quantity_arrived'] == 0)):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Chờ nhập kho'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 0) & (aMate['quantity_arrived'] > 0) & (aMate['quantity_arrived'] < aMate['quantity_exchange'])):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Đã nhập kho 1 phần'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 0) & (aMate['quantity_arrived'] > 0) & (aMate['quantity_arrived'] > aMate['quantity_exchange'])):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Nhập kho quá số lượng'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 1)):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Đã nhập đủ'

dfPurchaseOrderDetailmerge

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default,quantity_arrived,actual_delivery_time,quantity_not_arrived,raw_material_status
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,20.00,Hoàn tất
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1.00,Hoàn tất
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,10.00,Hoàn tất
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44,0.0,0,91.44,Hoàn tất
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,70.00,Hoàn tất
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6589,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,4382,8-BF0092-000-00-TL,4382,1000.0,0,4,1,1000.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1000.00,Chờ nhập kho
6590,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5198,8-MD0016-000-ST-TL,5198,4500.0,0,4,1,4500.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,4500.00,Chờ nhập kho
6591,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,5199,8-MD0017-000-ST-TL,5199,5500.0,0,4,1,5500.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,5500.00,Chờ nhập kho
6592,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11702,8-JP0128-000-ST-TL,25931,1000.0,0,4,1,1000.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1000.00,Chờ nhập kho
6593,TTD-04022023-043-TL,344,TTD-04022023-043-TL,13000.0,1618,0,approval,2023-02-04,2023-02-25,67,Nguyễn Thị Anh,67,TL,TTL,11703,8-JP0129-000-ST-TL,25932,1000.0,0,4,1,1000.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1000.00,Chờ nhập kho

In [160]:
dfPurchaseOrderDetailDA = dfPurchaseOrderDetailmerge[['code', 'name_po','total_amount' , 'purchase_order_id' , 'is_completed' , 'is_complete' , 'po_status', 'product_code' , 'supplier_code' , 'supplier_name' , 'purchase_order_quantity' , 'quantity_exchange' , 'quantity_arrived' , 'quantity_not_arrived'
                                                 , 'time_create' , 'estimated_delivery' , 'actual_delivery_time' , 'fullname' , 'raw_material_status']]

dfPurchaseOrderDetailDA.rename(columns = { 'code' : 'Mã ĐH' ,'name_po':'Tên ĐH' ,'total_amount':'Số lượng ĐH đặt' , 'purchase_order_id': 'ID đơn hàng', 'fullname' :'Người tạo ĐH', 'is_completed': 'ĐH hoàn tất ?' , 'is_complete': 'NPL hoàn tất trong ĐH ?' ,
                                         'po_status': 'Trạng thái ĐH' , 'product_code': 'Mã NPL', 'supplier_code' : 'Mã NCC' , 'supplier_name' : 'Tên NCC' , 'purchase_order_quantity' : 'Số lượng NPL đặt' , 'quantity_exchange' : 'Số lượng NPL đặt (đã chuyển đổi)' , 
                                        'quantity_arrived': 'Số lượng nhập kho', 'quantity_not_arrived': 'Số lượng chưa nhập kho' , 'time_create' : 'Thời gian tạo ĐH',
                                        'estimated_delivery' : 'Thời gian giao dự kiến' , 'actual_delivery_time' : 'Thời gian giao thực tế' , 'raw_material_status' : 'Tình trạng NPL'}, inplace = True)
dfPurchaseOrderDetailDA.head(5)

,Mã ĐH,Tên ĐH,Số lượng ĐH đặt,ID đơn hàng,ĐH hoàn tất ?,NPL hoàn tất trong ĐH ?,Trạng thái ĐH,Mã NPL,Mã NCC,Tên NCC,Số lượng NPL đặt,Số lượng NPL đặt (đã chuyển đổi),Số lượng nhập kho,Số lượng chưa nhập kho,Thời gian tạo ĐH,Thời gian giao dự kiến,Thời gian giao thực tế,Người tạo ĐH,Tình trạng NPL
0,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,1-KATE00-GSK-00-AK,AK,A Khiêm,20.0,20.00,0.0,20.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
1,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,9-CCDCSX-092-00-AK,AK,A Khiêm,1.0,1.00,0.0,1.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
2,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,9-CCDCSX-251-00-AK,AK,A Khiêm,10.0,10.00,0.0,10.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
3,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,9-FELTCH-SBL-00-AK,AK,A Khiêm,100.0,91.44,0.0,91.44,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
4,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,1-SATIN0-BLK-00-AK,AK,A Khiêm,70.0,70.00,0.0,70.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất

In [161]:
dfPurchaseOrderDetailDA.to_excel('../dataDA/getPurchaseOrderDetail{}.xlsx'.format(now), index= False)

In [163]:
dfPurchaseOrderDetail.loc[(dfPurchaseOrderDetail['quantity_not_arrived'] < 0), 'quantity_not_arrived'] = 0
dfPurchaseOrderDetailSum = dfPurchaseOrderDetail.groupby(['product_id'], as_index=False)['quantity_not_arrived'].sum()
dfPurchaseOrderDetailSum

     product_id  quantity_not_arrived
0             6                 88.70
1             7                 88.70
2             8                 88.70
3            82                  0.00
4           585                200.00
..          ...                   ...
276       11450               1051.56
277       11451               1051.56
278       11452               1000.00
279       11466                  4.00
280       11472                100.00

[281 rows x 2 columns]

In [115]:
dfPurchaseOrderDetailSum[dfPurchaseOrderDetailSum['product_id'] == 6823]

     product_id  quantity_not_arrived
148        6823                   0.0