In [35]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.mode.chained_assignment = None  # default='warn'
import time

In [36]:
dfChild = pd.read_csv("Child.csv")
dfParent = pd.read_csv("Parent.csv")
dfOrder = pd.read_csv("Order.csv")

In [37]:
dfChild

      quantity  product_parent  product_child        code_product
0       1.0000              75             73  1-CVAC04-SCA-00-IW
1       1.0000              78             73  1-CVAC04-SCA-00-IW
2       1.0000              79             73  1-CVAC04-SCA-00-IW
3       1.0000              81             80  1-CVAC05-DBN-00-IW
4       1.0000             101             96  1-CVAC07-GRY-00-HV
...        ...             ...            ...                 ...
4224    1.0000           10301          10300  5-INPL12-460-U6-YK
4225    0.0646           10303            102  1-CVAC08-WHI-00-HV
4226    0.0458           10230          10179  T-VSTXSC-469-DK-EV
4227    1.0000           10306          10305  T-TAI001-TTT-TT-HG
4228    0.0241           10307          10305  T-TAI001-TTT-TT-HG

[4229 rows x 4 columns]

In [38]:
dfParent

,is_outsourcing,product_parent,code_product,quantity_product,temporary_quantity
0,0,6,1-CO5960-BKR-00-CT,0.00,0.000
1,0,8,1-CO5960-MIB-00-CT,0.00,0.000
2,0,10,1-CO7033-BLK-00-EV,0.00,353.810
3,0,21,1-COTO01-NAV-00-SA,0.00,0.000
4,0,22,1-COTO02-BLK-00-SA,0.00,0.000
...,...,...,...,...,...
10161,0,10304,6-SDG43G-DWR-U4-NC,12.69,12.690
10162,0,37,1-COTO01-GRP-00-AD,18.20,18.200
10163,0,10305,T-TAI001-TTT-TT-HG,908.97,867.265
10164,1,10306,T-TAI003-TTT-TT-HG,80.00,0.000
10165,1,10307,T-TAI002-TTT-TT-HG,300.00,-50.000

In [39]:
dfOrder

,position,total_quota,code_order,code_product,quantity_out
0,Mặt,3.0024,DYC-US-220425-Ginè Energy-558,1-CVAC06-BLK-L2-HV,3.0024
1,Hông,4.0788,DYC-US-220425-Ginè Energy-558,1-L03090-BL2-07-DD,8.8374
2,Đuôi,4.7586,DYC-US-220425-Ginè Energy-558,1-L03090-BL2-07-DD,8.8374
3,Két trên+Nút,2.4926,DYC-US-220425-Ginè Energy-558,1-CVAC06-BLK-00-HV,4.8719
4,Két dưới,2.3793,DYC-US-220425-Ginè Energy-558,1-CVAC06-BLK-00-HV,4.8719
...,...,...,...,...,...
35418,DFSX,100.0000,PRO-SAFARI-TTDCap-Green-S-PO34234H,7-HNPL55-BBT-DU-NC,50.0000
35419,"Mặt, hông trên, hông dưới & đỉnh",40.5000,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,T-TAI001-TTT-TT-HG,NaN
35420,Két trên,250.0000,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,T-TAI002-TTT-TT-HG,NaN
35421,Phối đỉnh,80.0000,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,T-TAI003-TTT-TT-HG,NaN
35422,Phối đỉnh,100.0000,TTD-26072021-121-AK,T-TAI002-TTT-TT-HG,NaN

In [40]:
def mergeMaterialOrder(dfChild, dfParent, dfOrder):
   dfChild2 = dfChild.drop_duplicates(keep='first').reset_index(drop = True)
   dfChild2 = dfChild2.sort_values(by=['product_parent']).reset_index(drop = True)
   dfChild3 = pd.merge(dfChild2 , dfParent[['product_parent','quantity_product','temporary_quantity']], left_on='product_child', right_on='product_parent', how='inner').drop(columns = ['product_parent_y']).rename(columns = {"product_parent_x":"product_parent"})
   dfChild3 = dfChild3.reset_index(drop = True)
   g = dfChild3.groupby(["product_parent"]).cumcount().add(1)
   dfChildMerge = dfChild3.set_index(["product_parent", g]).unstack(fill_value=0).sort_index(axis=1, level=1)
   dfChildMerge.columns = ["{}{}".format(a, b) for a, b in dfChildMerge.columns]

   dfChildMerge = dfChildMerge.reset_index()

   dfChildMerge = dfChildMerge.replace(np.nan, 0)
   dfTotalMate = pd.merge(dfParent, dfChildMerge, on='product_parent', how='left')
   dfTotalMate = dfTotalMate.replace(np.nan, 0)
   
   dfTotalMate = dfTotalMate.drop(dfTotalMate[(dfTotalMate['product_child1'] == 0) & (dfTotalMate['is_outsourcing'] == 1)].index).reset_index(drop = True)
   new_col1 = ['product_parent','code_product' , 'quantity_product' ,'temporary_quantity', 'is_outsourcing', 
      'code_product1', 'product_child1', 'quantity1',
      'quantity_product1', 'temporary_quantity1', 'code_product2',
      'product_child2', 'quantity2', 'quantity_product2',
      'temporary_quantity2', 'code_product3', 'product_child3', 'quantity3',
      'quantity_product3', 'temporary_quantity3', 'code_product4',
      'product_child4', 'quantity4', 'quantity_product4',
      'temporary_quantity4', 'code_product5', 'product_child5', 'quantity5',
      'quantity_product5', 'temporary_quantity5']
   
   dfTotalMate= dfTotalMate.reindex(columns=new_col1)
   dfTotalMate = dfTotalMate.sort_values(by= ['product_parent']).reset_index(drop = True)

   dfTotal = pd.merge(dfOrder , dfTotalMate, left_on='code_product', right_on='code_product', how='left')
   dfTotal = dfTotal.reset_index(drop = True)
   new_col2 = ['code_order' , 'position' , 'total_quota', 'quantity_out',
      'product_parent' , 'code_product' , 'quantity_product',
      'temporary_quantity', 'is_outsourcing' , 'code_product1', 'product_child1', 'quantity1',
      'quantity_product1', 'temporary_quantity1', 'code_product2',
      'product_child2', 'quantity2', 'quantity_product2',
      'temporary_quantity2', 'code_product3', 'product_child3', 'quantity3',
      'quantity_product3', 'temporary_quantity3', 'code_product4',
      'product_child4', 'quantity4', 'quantity_product4',
      'temporary_quantity4', 'code_product5', 'product_child5', 'quantity5',
      'quantity_product5', 'temporary_quantity5']
   
   dfTotal=dfTotal.reindex(columns=new_col2)

   dfTotalReverse = dfTotal[::-1]
   dfTotalReverse = dfTotalReverse.reset_index(drop = True)
   dfTotalReverse = dfTotalReverse.drop(dfTotalReverse[np.isnan(dfTotalReverse['product_parent']) == True].index).reset_index(drop = True)
   dfTotalReverse = dfTotalReverse[:5000] 
   return dfTotalMate, dfTotalReverse

In [41]:
dfTotalMate, dfTotalReverse = mergeMaterialOrder(dfChild , dfParent, dfOrder)
dfTotalReverse

,code_order,position,total_quota,quantity_out,product_parent,code_product,quantity_product,temporary_quantity,is_outsourcing,code_product1,product_child1,quantity1,quantity_product1,temporary_quantity1,code_product2,product_child2,quantity2,quantity_product2,temporary_quantity2,code_product3,product_child3,quantity3,quantity_product3,temporary_quantity3,code_product4,product_child4,quantity4,quantity_product4,temporary_quantity4,code_product5,product_child5,quantity5,quantity_product5,temporary_quantity5
0,TTD-26072021-121-AK,Phối đỉnh,100.0,NaN,10307,T-TAI002-TTT-TT-HG,300.00,-50.0000,1,T-TAI001-TTT-TT-HG,10305.0,0.0241,908.97,867.265,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
1,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,Phối đỉnh,80.0,NaN,10306,T-TAI003-TTT-TT-HG,80.00,0.0000,1,T-TAI001-TTT-TT-HG,10305.0,1.0000,908.97,867.265,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
2,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,Két trên,250.0,NaN,10307,T-TAI002-TTT-TT-HG,300.00,-50.0000,1,T-TAI001-TTT-TT-HG,10305.0,0.0241,908.97,867.265,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
3,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,"Mặt, hông trên, hông dưới & đỉnh",40.5,NaN,10305,T-TAI001-TTT-TT-HG,908.97,867.2650,0,0,0.0,0.0000,0.00,0.000,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4,PRO-SAFARI-TTDCap-Green-S-PO34234H,DFSX,100.0,50.0,10241,7-HNPL55-BBT-DU-NC,1000054.00,979900.8300,1,3-HNPL54-467-DU-NC,10240.0,0.0512,999329.24,969979.135,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Kids Play Hat-Morning Birds-L- PO 38098,Chóp,30.8,NaN,1599,1-P22158-MBI-00-HG,184.30,-63.3761,0,0,0.0,0.0000,0.00,0.000,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4996,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag SS,505.0,NaN,5863,9-HSA023-000-00-MX,32274.00,-5796.0000,0,0,0.0,0.0000,0.00,0.000,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4997,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag kiểu nón,505.0,NaN,5884,9-HSA044-000-00-MX,2700.00,-14810.0000,0,0,0.0,0.0000,0.00,0.000,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4998,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag UPF,505.0,NaN,5907,9-HSA067-000-00-MX,109882.00,-97079.0000,0,0,0.0,0.0000,0.00,0.000,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
4999,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag chính,505.0,NaN,5933,9-HSA094-000-00-MX,45427.00,7357.0000,0,0,0.0,0.0000,0.00,0.000,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0

In [45]:
ahat = dfTotalReverse.loc[0]
aMate = dfTotalMate.loc[np.where(dfTotalMate['product_parent']==ahat['product_parent'])[0][0]] ## Lấy ID từ vật tư trong ahat, suy ra ID cho aMate

In [46]:
dict_evaluate = {"code_order":[] , "position":[], "quantity" : []}

In [47]:
def calLevel1(ahat, dfParent, dict_evaluate):
    sub = ahat['temporary_quantity'] - ahat['total_quota'] 
    indexCode = dfParent[dfParent['code_product'] == ahat['code_product']].index[0] 
    dfParent.at[indexCode , 'temporary_quantity'] = sub
    return sub, dfParent

In [48]:
listColMateTtReverse = [9,14,19,24,29] ## index cột mã vật tư theo dfTotalReverse
listColMate = [5,10,15,20,25] ## index cột mã vật tư theo dfTotalMate

def calLevel2(ahat, dfParent,dfTotalMate):
    aMate = dfTotalMate.loc[np.where(dfTotalMate['product_parent']==ahat['product_parent'])[0][0]] ## Lấy ID từ vật tư trong ahat, suy ra ID cho aMate
    arr_mul = []
    for i in listColMate: 
        if(aMate[i] != 0):
            slSC = aMate[i+4] * aMate[i+2]
            arr_mul.append(slSC)
        else:
            break
    min_arr = min(arr_mul, default=0)
    if (len(arr_mul) == 0):
        index_min = -1
    for k in range(0 , len(arr_mul)):
        if(arr_mul[k] == min_arr):
            index_min = k
    return aMate , arr_mul , min_arr, index_min

In [11]:
def arrayShort(arr_mul, sub):
    arrShort = []
    for i in range(0,len(arr_mul)):
        if ((sub + arr_mul[i]) > 0):
            arrShort.append(arr_mul[i])
    return arrShort

In [12]:
def replaceNewValue(aMate, dfParent , arr_mul , min_arr , index_min):
    count = 0
    sub = 0
    for i in listColMate: 
        if(aMate[i] != 0):
            indexCode = dfParent[dfParent['code_product'] == aMate[i]].index[0]
            if(aMate[i+2] == 0 & i == index_min):
                break
            else:
                sub = (arr_mul[count] - min_arr)/aMate[i+2]
            dfParent.at[indexCode , 'temporary_quantity'] = sub
        else:
            break
        count = count + 1
    return sub,dfParent

In [13]:
# child case is primary
def checkValue(aMate , dfParent , index_min):
    indexParent = dfParent[dfParent['code_product'] == aMate[9 + (index_min * 5)]]
    if((indexParent['is_outsourcing'] == 0)):
        dict_evaluate["quantity"].append("not enough")

In [14]:
def checkValue(aMate , dfParent , index_min):
    for i in listColMate: 
        if(aMate[i] != 0):
            indexCode = dfParent[dfParent.index.values == aMate.name].index[0]
            if((aMate[i+2] == 0) & i == index_min):
                dict_evaluate["quantity"].append("not enough")

In [15]:
def recursivePrimary(ahat, dfParent, dfTotalMate):
    aMate, arr_mul, min_arr, index_min = calLevel2(ahat, dfParent, dfTotalMate)
    sublv, dfParent = replaceNewValue(aMate, dfParent, arr_mul, min_arr, index_min)
    if(min_arr + sublv):
        dict_evaluate["quantity"].append("not enough")
    else:
        indexParent = dfParent[dfParent['code_product'] == aMate[5 + (index_min * 5)]]
        if((indexParent['is_outsourcing'] == 0).bool()):
            dict_evaluate["quanlity"].append("not enough")
        else:
            recursivePrimary(ahat, dfParent, dfTotalMate)

In [16]:
def primary(dfTotalReverse , dfParent, dfTotalMate, index): #index là vị trí từng bộ vị từ trên xuống dưới
    ahat = dfTotalReverse.loc[index]
    if((ahat['quantity_out'] - ahat['total_quota']) >= 0.0):
        dict_evaluate["quantity"].append("enough") 
    else: 
        if(ahat['is_outsourcing'] == 0):
            sub, dfParent = calLevel1(ahat, dfParent , dict_evaluate)
            if(sub > 0):
                dict_evaluate["quantity"].append("enough")
            else:
                dict_evaluate["quantity"].append("not enough")
        else:
            sub1, dfParent = calLevel1(ahat, dfParent , dict_evaluate)
            dfTotalMate,dfTotalReverse = mergeMaterialOrder(dfChild, dfParent, dfOrder)
            if(sub1 > 0):
                dict_evaluate["quantity"].append("enough")
            else:
                aMate , arr_mul , min_arr, index_min = calLevel2(ahat, dfParent, dfTotalMate)
                subLv2, dfParent = replaceNewValue(aMate, dfParent , arr_mul , min_arr , index_min)
                dfTotalMate,dfTotalReverse = mergeMaterialOrder(dfChild , dfParent, dfOrder)
                if(min_arr + sub1 > 0):
                    dict_evaluate["quantity"].append("enough")
                else:
                    indexParent = dfParent.loc[np.where(dfParent['code_product'] == aMate[5 + (index_min * 5)])[0][0]]
                    if((indexParent['is_outsourcing'] == 0)):
                        dict_evaluate["quantity"].append("not enough")
                    else:
                        aMate , arr_mul , min_arr, index_min = calLevel2(aMate, dfParent, dfTotalMate)
                        subLv3, dfParent = replaceNewValue(aMate, dfParent , arr_mul , min_arr, index_min)
                        dfTotalMate,dfTotalReverse = mergeMaterialOrder(dfChild , dfParent, dfOrder)
                        if(min_arr + subLv2 > 0):
                            dict_evaluate["quantity"].append("enough")
                        else:
                            indexParent = dfParent.loc[np.where(dfParent['code_product']== aMate[5 + (index_min * 5)])[0][0]]
                            if((indexParent['is_outsourcing'] == 0)):
                                dict_evaluate["quantity"].append("not enough")
                            else: 
                                aMate , arr_mul , min_arr , index_min = calLevel2(aMate, dfParent, dfTotalMate)
                                subLv4,dfParent = replaceNewValue(aMate, dfParent , arr_mul , min_arr, index_min)
                                dfTotalMate,dfTotalReverse = mergeMaterialOrder(dfChild , dfParent, dfOrder)
                                if(min_arr + subLv3 > 0):
                                    dict_evaluate["quantity"].append("enough")
                                else:
                                    indexParent = dfParent.loc[np.where(dfParent['code_product']== aMate[5 + (index_min * 5)])[0][0]]
                                    if((indexParent['is_outsourcing'] == 0)):
                                        dict_evaluate["quantity"].append("not enough")
                                    else: 
                                        aMate , arr_mul , min_arr , index_min = calLevel2(aMate, dfParent, dfTotalMate)
                                        subLv5,dfParent = replaceNewValue(aMate, dfParent , arr_mul , min_arr, index_min)
                                        dfTotalMate,dfTotalReverse = mergeMaterialOrder(dfChild , dfParent, dfOrder)
                                        if(min_arr + subLv4 > 0):
                                            dict_evaluate["quantity"].append("enough")
                                        else:
                                            indexParent = dfParent.loc[np.where(dfParent['code_product']== aMate[5 + (index_min * 5)])[0][0]]
                                            if((indexParent['is_outsourcing'] == 0)):
                                                dict_evaluate["quantity"].append("not enough")
                                            else:
                                                dict_evaluate["quantity"].append("not enough")

            
    dict_evaluate["code_order"].append(ahat['code_order'])
    dict_evaluate["position"].append(ahat['position'])
    return dfTotalMate, dfTotalReverse

In [17]:
dfParent

,is_outsourcing,product_parent,code_product,quantity_product,temporary_quantity
0,0,6,1-CO5960-BKR-00-CT,0.00,0.000
1,0,8,1-CO5960-MIB-00-CT,0.00,0.000
2,0,10,1-CO7033-BLK-00-EV,0.00,353.810
3,0,21,1-COTO01-NAV-00-SA,0.00,0.000
4,0,22,1-COTO02-BLK-00-SA,0.00,0.000
...,...,...,...,...,...
10161,0,10304,6-SDG43G-DWR-U4-NC,12.69,12.690
10162,0,37,1-COTO01-GRP-00-AD,18.20,18.200
10163,0,10305,T-TAI001-TTT-TT-HG,908.97,867.265
10164,1,10306,T-TAI003-TTT-TT-HG,80.00,0.000
10165,1,10307,T-TAI002-TTT-TT-HG,300.00,-50.000

In [18]:
for i in range(0, len(dfTotalReverse)):
    dfTotalMate, dfTotalReverse = primary(dfTotalReverse ,dfParent, dfTotalMate, i)
    time.sleep(0.1)

In [23]:
dfEvalute = pd.DataFrame.from_dict(dict_evaluate)
dfEvalute

,code_order,position,quantity
0,TTD-26072021-121-AK,Phối đỉnh,not enough
1,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,Phối đỉnh,not enough
2,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,Két trên,not enough
3,NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd,"Mặt, hông trên, hông dưới & đỉnh",not enough
4,PRO-SAFARI-TTDCap-Green-S-PO34234H,DFSX,enough
...,...,...,...
4995,Kids Play Hat-Morning Birds-L- PO 38098,Chóp,not enough
4996,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag SS,not enough
4997,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag kiểu nón,not enough
4998,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag UPF,not enough
4999,Kids Play Hat-Morning Birds-M- PO 38098,Hangtag chính,not enough

In [25]:
listOrder = dfEvalute['code_order'].unique()
newDictEvalue = {"code_order": [] , "quantity": []}
for i in listOrder:
    listEva = dfEvalute.loc[dfEvalute['code_order'] == i]['quantity'].unique()
    if (len(listEva) == 1):
        newDictEvalue["quantity"].append(listEva[0])
        newDictEvalue["code_order"].append(i)
    else:
        if(listEva[0] != listEva[1]):
            newDictEvalue["quantity"].append("not enough")
            newDictEvalue["code_order"].append(i)
        else:
            newDictEvalue["quantity"].append(listEva)
        
dfEvaluteTt = pd.DataFrame.from_dict(newDictEvalue)
dfEvaluteTt

                                  code_order    quantity
0                        TTD-26072021-121-AK  not enough
1       NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd  not enough
2         PRO-SAFARI-TTDCap-Green-S-PO34234H  not enough
3      SA-223-KUADHA-L-Darkbrown-XL-PODF34RG  not enough
4         KY-025-SGBGRN-570-Gray-L-POIJ2D23F  not enough
..                                       ...         ...
251    Kids Play Hat-Navy Stripe-L- PO 38098  not enough
252    Kids Play Hat-Navy Stripe-M- PO 38098  not enough
253    Kids Play Hat-Navy Stripe-S- PO 38098  not enough
254  Kids Play Hat-Morning Birds-L- PO 38098  not enough
255  Kids Play Hat-Morning Birds-M- PO 38098  not enough

[256 rows x 2 columns]

In [32]:
dfEvaluteTt.loc[dfEvaluteTt["quantity"] == "enough"]

             code_order quantity
93  DHM-TTD-310822-0935   enough

In [34]:
dfEvaluteTt.loc[dfEvaluteTt["quantity"] == "not enough"]

                                  code_order    quantity
0                        TTD-26072021-121-AK  not enough
1       NXK-BLACK-01295-VM-ưdwqd-đw-POưqdqwd  not enough
2         PRO-SAFARI-TTDCap-Green-S-PO34234H  not enough
3      SA-223-KUADHA-L-Darkbrown-XL-PODF34RG  not enough
4         KY-025-SGBGRN-570-Gray-L-POIJ2D23F  not enough
..                                       ...         ...
251    Kids Play Hat-Navy Stripe-L- PO 38098  not enough
252    Kids Play Hat-Navy Stripe-M- PO 38098  not enough
253    Kids Play Hat-Navy Stripe-S- PO 38098  not enough
254  Kids Play Hat-Morning Birds-L- PO 38098  not enough
255  Kids Play Hat-Morning Birds-M- PO 38098  not enough

[255 rows x 2 columns]